[submodule "zfunctions"]
	path = .local/share/zsh/plugins/zfunctions
	url = https://github.com/mattmc3/zfunctions
[submodule "zsh-utils"]
	path = .local/share/zsh/plugins/zsh-utils
	url = https://github.com/belak/zsh-utils
[submodule "up.zsh"]
	path = .local/share/zsh/plugins/up.zsh
	url = https://github.com/peterhurford/up.zsh
[submodule "zsh-abbr"]
	path = .local/share/zsh/plugins/zsh-abbr
	url = https://github.com/olets/zsh-abbr
[submodule "fast-syntax-highlighting"]
	path = .local/share/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule "zsh-completions"]
	path = .local/share/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh-autosuggestions"]
	path = .local/share/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "pure"]
	path = .local/share/zsh/plugins/pure
	url = https://github.com/sindresorhus/pure
